<form action="<%= song.persisted? ? song_url(song) : album_songs_url %>" 	method="post"	enctype="multipart/form-data">
	<% if song.persisted? %>
		<input type='hidden' name="_method" value="PATCH">
	<% end %>

	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

	<label for="song_name">Song Title</label>
	<input type="text" name="song[title]" value="<%= song.title %>" id="songs_name">
	<br>
	<label for="album_name">Album</label>
	<select name="song[album_id]">
		<% Album.all.order(:album_name).each do |album| %>
			<% if song.album == album %>
				<option value="<%= album.id %>" selected><%= album.album_name %></option>
			<% else %>
				<option value="<%= album.id %>"><%= album.album_name %></option>
			<% end %>
		<% end %>
	</select>
	<br>
	<label for="song_lyrics">Lyrics</label>
	<input type="text" name="song[lyrics]" value="<%= song.lyrics %>" id="songs_lyrics">
	<br>

	<select name="song[bonus_track]">
		<% [true, false].each do |option| %>
			<% if option == song.bonus_track %>
				<option value="<%= option %>" selected><%= option.to_s.upcase %></option>
			<% else %>
				<option value="<%= option %>"><%= option.to_s.upcase %></option>
			<% end %>
		<% end %>
	</select>
	<br>

	<input type="submit" value="Create Song">
</form>